<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/globals.css" %}" />
        <link rel="stylesheet" href="{% static "css/landing.css" %}" />
        <script src="{% static 'js/landing.js' %}" defer></script>
    </head>
    <body>
        <div class="landing">
            <div class="div">
                <div class="group">
                    <div class="group-2">
                        <div class="text-wrapper">Airlangga Journal Database Reviewer</div>
                        <div class="text-wrapper-2">About Us</div>
                        <div class="text-wrapper-3">Support</div>
                        <a href=/signin class="text-wrapper-4">Sign In</a>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <button class="rectangle">
                                    <span class="text-wrapper-5">Join</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap">
                    <div class="overlap-2">
                        <div class="overlap-3">
                            <img class="pexels" src="{% static "img/pexels-jessbaileydesign-1018133.png" %}" />
                            <div class="ellipse"></div>
                            <div class="ellipse-2"></div>
                            <p class="lorem-ipsum-is">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.
                            </p>
                            <img class="element-journals" src="{% static "img/100k+ Journals.png" %}" />
                            <img class="element-k-STAR-REVIEW" src="{% static "img/50 K+ 4.7 STAR REVIEW.png" %}" />
                            <div class="text-wrapper-6">JOURNALS</div>
                            <div class="text-wrapper-7">REVIEWERS</div>
                        </div>
                        <div class="text-wrapper-8">Discovering Knowledge,</div>
                        <p class="p">One Review at a Time.</p>
                        <img class="line" src="{% static "img/line-2.svg" %}" />
                        <div class="overlap-4">
                          <img src="{% static 'img/Rectangle 3.svg' %}" alt="Rectangle" style="position:absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover;" />
                          <p class="element-members">
                              <span class="span">1500+ <br /></span> 
                              <span class="text-wrapper-9">Members</span>
                          </p>
                          <img class="arrow" src="{% static 'img/Arrow 1.svg' %}" />
                          <img class="star" src="{% static 'img/Star 1.svg' %}" />
                          <div class="ellipse-3"></div>
                          <div class="ellipse-4"></div>
                      </div>                      
                        <div class="overlap-5">
                            <img src="{% static 'img/Rectangle 4.svg' %}" alt="Rectangle" style="position:absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover;" />
                            <p class="element-support">
                                <span class="span">24/7<br /></span> <span class="text-wrapper-9">Support</span>
                            </p>
                            <img class="arrow" src="{% static "img/Arrow 2.svg" %}" />
                            <img class="exclude" src="{% static "img/Exclude.svg" %}" />
                            <div class="ellipse-3"></div>
                            <div class="ellipse-4"></div>
                        </div>
                    </div>
                    <div class="text-wrapper-10">MISSION</div>
                </div>
            </div>
        </div>
    </body>
</html>
